<div class="main">
  <div class="form">
    <div class="title">
      <img src="assets/logo_full_color.svg" title="Landing" [routerLink]="'/landing'">
      <h3> Registro </h3>
    </div>
    <form [formGroup]="formSignUp" (submit)="onSubmit()">
      <div class="flex-container">

        <div class="form__group field">
          <label for="name" class="form__label">Nombres</label>
          <input class="form__field" name="name" formControlName="name" />
          <span *ngIf="isControlHasError('name', 'maxlength')">Campo con máximo 30 carácteres</span>
          <span *ngIf="isControlHasError('name', 'required')">Campo requerido</span>
        </div>

        <div class="form__group field">
          <label for="last_name" class="form__label">Apellidos</label>
          <input class="form__field" name="last_name" formControlName="last_name" />
          <span *ngIf="isControlHasError('last_name', 'maxlength')">Campo con máximo 30 carácteres</span>
          <span *ngIf="isControlHasError('last_name', 'required')">Campo requerido</span>
        </div>

        <div class="form__group field">
          <label for="country" class="form__label">País</label>
          <select class="form__field" name="country" formControlName="country">
            <option value="">--</option>
            <option *ngFor="let country of countries" value="{{country.country}}">{{country.country}}</option>
          </select>
          <span *ngIf="isControlHasError('country', 'required')">Campo requerido</span>
        </div>

        <div class="form__group field">
          <label for="province" class="form__label">Provincia</label>
          <select class="form__field" name="province" formControlName="province">
            <option value="">--</option>
            <option *ngFor="let province of getProvinces()" value="{{province.province}}">{{province.province}}</option>
          </select>
          <span *ngIf="isControlHasError('province', 'required')">Campo requerido</span>
        </div>

        <div class="form__group field">
          <label for="mail" class="form__label">E-mail</label>
          <input type="email" class="form__field" name="mail" formControlName="mail" />
          <span *ngIf="isControlHasError('mail', 'email')">Por favor ingrese un email válido</span>
          <span *ngIf="isControlHasError('mail', 'required')">Campo requerido</span>
        </div>

        <div class="form__group field">
          <label for="phone" class="form__label">Teléfono</label>
          <input class="form__field" name="phone" formControlName="phone"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="10" />
          <span *ngIf="isControlHasError('phone', 'minlength')">Mínimo 8 carácteres</span>
        </div>

        <div class="form__group field">
          <label for="password" class="form__label">Contraseña</label>
          <input type="password" class="form__field" name="password" formControlName="password" />
          <span *ngIf="isControlHasError('password', 'pattern')">La contraseña debe tener al entre 6 y 14 caracteres, al
            menos un dígito, al menos una minúscula y al menos una mayúscula.</span>
        </div>

        <div class="form__group field">
          <label for="confirm-password" class="form__label">Repetir contraseña</label>
          <input type="password" class="form__field" name="confirm-password" formControlName="confirmPassword" />
          <span *ngIf="!isValidPassword()">Las contraseñas no coinciden</span>
        </div>

        <div class="form__group field">
          <label for="confirm-password" class="form__label"></label>
          <input type="checkbox" name="check" formControlName="terms" />
          <a href="https://www.wolox.com.ar/policies/Privacy_Policy.pdf" target="_blank">Acepto Términos y
            Condiciones</a>
        </div>
      </div>
      <div class="button">
        <button [disabled]="formSignUp.invalid || !isValidPassword()">
          <span>Registrarme</span>
        </button>
      </div>
      <div class="note">
        <p>Nota: Todos los campos son requeridos</p>
      </div>
    </form>
  </div>
</div>
