<nav>
  <div class="navbar">
    <img src="assets/logo_full_color.svg" title="Landing" [routerLink]="'/landing'">
    <div class="count-fav" >
      <h3>Tecnologías</h3>
      <span class="spacer"></span>
      <div *ngIf="favoritesTechs.length > 0">
        <span class="material-icons">
          <span>favorite</span>
        </span>
        &nbsp; <span> {{favoritesTechs.length}} </span>
      </div>
    </div>
  </div>
  <div class="tools">
    <a class="order" (click)="orderAscOrDesc()">
      <span>Ordenar</span>
      <li *ngIf="typeOrder === 'asc'" class="esri-icon-arrow-up"></li>
      <li *ngIf="typeOrder == 'desc'" class="esri-icon-arrow-down"></li>
      <li *ngIf="typeOrder == ''" class="esri-icon-up-down-arrows"></li>
    </a>
    <div class="form__group field">
      <input class="form__field" type="text" [(ngModel)]="searchValue" placeholder="Filtrar">
    </div>
  </div>
</nav>
<div class="main">
  <div class="flex-container" *ngIf="filteredData.length > 0">
    <div class="flex-item" *ngFor="let tech of filteredData">
      <div class="image">
        <img src="{{tech.logo}}">
      </div>
      <div class="info-item">
        <div class="grid-container">
          <p>{{tech.tech}}</p>
          <span class="material-icons" (click)="fav(tech.tech)" [ngClass]="{'fav' : isFav(tech.tech) }">
            <span class="border">favorite_border</span>
            <span class="fill">favorite</span>
          </span>
        </div>
        <div>
          <p>Año: {{tech.year}}</p>
          <p>Autor: {{tech.author}}</p>
          <p>Licencia: {{tech.license}}</p>
          <p>Lenguaje: {{tech.language}}</p>
          <p>Tipo: {{tech.type}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="count-tech">
    <h4>Cantidad de Tecnologías : {{filteredData.length}}</h4>
  </div>

</div>
